body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  color: #1dbeb4;
  text-align: center;
}

h2 {
  color: #383b58;
  margin-top: 20px;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

label {
  display: block;
  margin: 10px 0;
  color: #383b58;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 206px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  background-color: #1dbeb4;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #15978b;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

li button:hover {
  background-color: #c0392b;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  
}
