/* src/components/ProductCard.css */
.product-list {
    margin-left: 25px;
    display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaçamento entre os cards */
  }

.product-card {
    flex-basis: calc(48% - 16px);
    width: 710px;
height: 279px;
flex-shrink: 0;
    display: flex;
    /* border: 1px solid #ccc; */
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
border: 1px solid var(--A--DB-COLOR-4, #DFE4EA);
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .product-image {
    flex: 1;
    text-align: center;
  }
  
  .product-image img {
    width: 311.104px;
    height: 261.987px;
    flex-shrink: 0;
    border-radius: 8px ;
background:  lightgray 50% / cover no-repeat;

  }
  
  .product-details {
    flex: 2;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    height: 261.987px;
  }
  
  .product-info {
    margin-bottom: 16px;
    height: 261.987px;
  }
  
  .view-details-button {
    
    display: flex;
    width: 331px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px;
    
    border-radius: 5px;
    background: rgba(29, 190, 180, 1);
    
    /* botton sombra */
    box-shadow: 0px 2px 4px 0px ;
  }
  .hotel-nome{
    padding-top: 37px;
    color: var(--B---DB-COLOR-2, #383B58);

/* B- Heading 1 */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .hotel-localizacao{ 
    padding-top: 21px;
    width: 300px;
    height: 22px;
    flex-shrink: 0;
    color: var(--B---DB-COLOR-2, #383B58);

/* B- Text 1 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

  .hotel-categoria{
    width: 18px;
height: 18px;
flex-shrink: 0;
  }

  .hotel-descricao{
    padding-top: 27px;
    width: 295px;
    height: 52px;
    flex-shrink: 0;
    color: var(--B---DB-COLOR-2, #383B58);

/* B- Text 1 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }