.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;

}

.forms-container-signup {
    flex: 0.5;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    /* max-width: 400px; */
    margin: 0 auto;
    text-align: center;
}

.forms-container-signup h1 {
   
    height: 40px;
    flex-shrink: 0;
    color: var(--B--DB-COLOR-PRINCIPAL, #1DBEB4);
    text-align: center;
}

.forms-container-signup input {
    width: 100%;
   
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forms-container-signup button {
    width: 206px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.label {
    width: 28rem;
    height: 3.8125rem;
    font-weight: 600;
}

.formsLink {
    color: #0069fb;
    text-decoration: none;
    cursor: pointer;
}







.formsButton {
    width: 206px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    background-color: #1DBEB4;
    color: var(--blanco, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.formsButton:hover {
    background-color: #17a499;

}

.forgot-password {
    margin-bottom: 10px;
    text-align: right;
    font-size: 14px;
    padding-bottom: 40px;
}

.formsResgiter {
    margin: 0;
    padding: 0;
    color: var(--B---DB-COLOR-2, #383B58);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.forms-container-signup input:focus {
    border-color: #1DBEB4;
    outline: none;
    box-shadow: 0 0 4px #99fbf5;
}


.confirm-password-container {
    margin-bottom: 20px;
}

@media (max-width: 991px) {


    .signup-container {
        height: 100vh;
        align-items: center;
        display: block;
        align-items: center;
        margin-top: 100px;
    }

    .forms-container-signup {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        border-radius: 5px;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .signup-container {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .forms-container-signup {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        border-radius: 5px;
        max-width: 600px;
        margin: 0 auto;
    }

    .signup-container h4 {
        margin-bottom: 40px;
        font-weight: 600;
    }


}

@media (max-width: 480px) {
    .forms-container-signup {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        max-width: 375px;
        margin: 0 auto;
    }


}